
.projects h1{
	text-align: center;
	padding-top: 50px;
}

.project-drop {
	padding-top: 50px;
}

.navbar-right {
	padding-left: 30px;
}

/*.container {
	position: fixed;
	z-index: 1;
}

.below-header {
	padding-top: 400px;
	z-index: 100;
	position: static;
}*/