#email, #resume {
	color: green;
}

.projects h1{
	text-align: center;
	padding-top: 50px;	 
}

.projects {
	padding-left: 25px;
	padding-right: 25px;
}

.project-drop {
	padding-top: 50px;
}

.navbar-right {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99999999
}

p {
	font-size: 22px;
}

a {
	color: green;
}


./*below-header {
	background-image: url('topBack.jpg');
}*/

/*.below-header {
	padding-top: 400px;
	z-index: 100;
	position: static;
}*/