.about-me {
	position: fixed;
	z-index: -1;
}

#email, #resume {
	position: relative;
	color: green;
	top: 35px;
	float: right;
	padding-right: 50px;
}

#profile-pic {
	position: relative;
	top: -40px;
	left: 50px;
}

#projects-header {
	font-size: 55px;
	font-family: 'Impact', Charcoal, sans-serif;
}

.projects h1{
	text-align: center;
	padding-top: 50px;	 
}

.projects {
	padding-left: 25px;
	padding-right: 25px;
}

.project-drop {
	padding-top: 50px;
}

.project-title {
	text-align: center;
	cursor: pointer;
	font-family: 'Impact', Charcoal, sans-serif;
}

#name {
	font-size: 75px;
	padding-top: 75px;
	padding-left: 250px;
	font-family: 'Impact', Charcoal, sans-serif;	
}

.navbar-right {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99999999
}

.project-description {

}

.header-description {
	font-family: "Courier New", Courier, monospace;
}

#web-dev {
	position: relative;
	font-size: 32px; 
	top: 25px;
	left: 120px;
	font-family: "Courier New", Courier, monospace;	
}

h3 {
	font-size: 35px;
}

p {
	font-size: 22px;
}

a {
	color: green;
}

.below-header {
	top: 770px;
	z-index: 999999;
	position: relative;
	background-color: white;
}