body {
	border: 2px black;
}

.player {
	height: 100px;
	width: 100px;
	float: left;
	clear: both;
	padding-bottom: 5px;
}

.cards {
	float: right;
	font-size: 50px;
}

.cards#my-cards{
	font-size: 100px;
}

.fishbowl {
	vertical-align: bottom;
	font-size: 50px;
}

#messages, #instruction {
	text-align: center;
}

#books {
	font-size: 30px; 
}