#books {
	font-size: 30px; 
}

.cards {
	font-size: 40px;
}

.cards#my-cards{
	font-size: 75px;
}

#fishbowl {
	font-size: 50px;
	border: dashed black 5px;
	padding: .25em;	
	margin: .25em;
}

#game-log {
	font-size: 25px;
	padding-top: 35px;
}

#game-log-card {
	font-size: 80px;
}

#messages, #instruction, #game-log {
	text-align: center;
}

.player {
	position: relative;
	height: 70px;
	width: 70px;
	text-align: center;
	z-index: 10;
}

.player-img img {
	height: 70px;
	width: 70px;
}

#player1 {
	margin-bottom: 1em;
}